*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:Georgia, serif;

    background:linear-gradient(180deg,#081C45,#0F2E73,#081C45);

    color:#fff;

    overflow-x:hidden;

    min-height:100vh;

    position:relative;

}

/* ===========================
   SPARKLES
=========================== */

.sparkles{

    position:fixed;
    inset:0;

    pointer-events:none;

    overflow:hidden;

}

.sparkles span{

    position:absolute;

    width:4px;
    height:4px;

    background:#D4AF37;

    border-radius:50%;

    animation:twinkle 5s linear infinite;

}

.sparkles span:nth-child(1){top:10%;left:15%;}
.sparkles span:nth-child(2){top:20%;left:80%;}
.sparkles span:nth-child(3){top:35%;left:45%;}
.sparkles span:nth-child(4){top:60%;left:12%;}
.sparkles span:nth-child(5){top:70%;left:75%;}
.sparkles span:nth-child(6){top:82%;left:50%;}
.sparkles span:nth-child(7){top:42%;left:90%;}
.sparkles span:nth-child(8){top:15%;left:60%;}

/* ===========================
   BALLOONS
=========================== */

.balloon{

    position:fixed;

    bottom:-180px;

    width:70px;

    height:90px;

    border-radius:50%;

    opacity:.15;

    animation:float 15s linear infinite;

}

.balloon::after{

    content:"";

    position:absolute;

    width:2px;

    height:120px;

    background:#D4AF37;

    left:50%;

    top:90px;

}

.balloon1{

    left:10%;

    background:#D4AF37;

}

.balloon2{

    left:50%;

    animation-delay:5s;

    background:#d6d6d6;

}

.balloon3{

    right:10%;

    animation-delay:9s;

    background:#D4AF37;

}

/* ===========================
   OPENING
=========================== */

#opening{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:20px;

}

.opening-card{

    width:100%;

    max-width:560px;

    padding:50px 35px;

    text-align:center;

    border:2px solid #D4AF37;

    border-radius:30px;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(15px);

    box-shadow:0 
